$brand-success: #5cb85c;
$loader-size: 2.5em;
$check-height: $loader-size/2;
$check-width: $check-height/2;
$check-left: ($loader-size/6 + $loader-size/12);
$check-thickness: 4px;
$check-color: $brand-success;
$cross-color: #D8000C;
$cross-thickness: 4px;
$cross-height: 1px;
$cross-width: $loader-size / 1.55;
  
.circle-loader 
{
  margin-bottom: $loader-size/2;
  border: 3px solid rgba(0, 0, 0, 0.2);
  border-left-color: $check-color;
  animation: loader-spin 1.2s infinite linear;
  position: relative;
  display: inline-block;
  vertical-align: top;
  border-radius: 50%;
  width: $loader-size;
  height: $loader-size;
}
  
.load-complete 
{
  -webkit-animation: none;
  animation: none;
  border-color: $check-color;
  transition: border 500ms ease-out;
}
.load-complete-success
{
  @extend .load-complete;
  border-color: $check-color;
}
.load-complete-failure
{
  @extend .load-complete;
  border-color: $cross-color;
}
  
.checkmark 
{    
  &.draw:after {
    animation-duration: 800ms;
    animation-timing-function: ease;
    animation-name: checkmark;
    transform: scaleX(-1) rotate(135deg);
  }
  
  &:after {
    opacity: 1;
    height: $check-height;
    width: $check-width;
    transform-origin: left top;
    border-right: $check-thickness solid $check-color;
    border-top: $check-thickness solid $check-color;
    content: '';
    left: $check-left / 1.5;
    top: $check-height;
    position: absolute;
  }
}

.cross1
{
  @extend .cross;

  &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: cross1;
      border-top: $cross-thickness solid $cross-color;
      width: $cross-width;
      height: $cross-height;
  }
}
.cross2
{
  @extend .cross;

  transform: translate($cross-width / 2.2, -$cross-width / 2.2);

  &.draw:after {
      animation-duration: 800ms;
      animation-timing-function: ease;
      animation-name: cross2;
      border-right: $cross-thickness solid $cross-color;
      height: $cross-width;
      width: $cross-height;
  }
}

.cross
{
    &:after {
        opacity: 1;
        height: $cross-height;
        width: $cross-width;
        transform-origin: left top;
        content: '';
        position: absolute;
      } 
}

.cross-container
{
    height: 100%;
    width: 100%;
    transform: translateY($loader-size / 2.6) translateX(-$loader-size / 5) rotate(45deg);
    text-align: left !important;
}
  
@keyframes loader-spin 
{
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
}
  
@keyframes checkmark 
{
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $check-width;
      opacity: 1;
    }
    40% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
    100% {
      height: $check-height;
      width: $check-width;
      opacity: 1;
    }
}

@keyframes cross1
{
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $cross-width;
      opacity: 1;
    }
    40% {
      height: $cross-height;
      width: $cross-width;
      opacity: 1;
    }
    100% {
      height: $cross-height;
      width: $cross-width;
      opacity: 1;
    }
}
@keyframes cross2
{
    0% {
      height: 0;
      width: 0;
      opacity: 1;
    }
    20% {
      height: 0;
      width: $cross-height;
      opacity: 1;
    }
    40% {
      height: $cross-width;
      width: $cross-height;
      opacity: 1;
    }
    100% {
      height: $cross-width;
      width: $cross-height;
      opacity: 1;
    }
}