@import '../../../../../utils/variables';

.battleships-board-notification-super-container
{
    width: 100%;
    overflow: hidden;
    height: 20%;
    top: 40%;
    background-color: rgba(255,255,255,0.4);
    color: #111;
    text-align: center;
    cursor: pointer;
    font-size: 40px;
    z-index: 999;
    position: absolute;
}

.battleships-board-notification-message
{
    z-index: 999;
    top: 45%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 9vw;
    transform: translateX(-900px);
}


.battleships-board-notification-super-container:hover
{
    background-color: rgba(255,255,255,0.5);
}

.battleships-board-notification-super-container-show
{
    animation: slidein $transition_period_ms;
}

.battleships-board-notification-super-container-hide
{
    animation: slideout $transition_period_ms;
    animation-delay: $transition_period_ms;
}

.battleships-board-notification-message-show
{
    animation: slidein $transition_period_ms forwards;
    animation-delay: $transition_period_ms;
}

.battleships-board-notification-message-hide
{
    animation: slideout $transition_period_ms forwards;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@keyframes fadeout {
    from { opacity: 1; }
    to   { opacity: 0; }
}

@keyframes slidein {
    0% {
        transform: translateX(-900px);
      }
      100% {
        transform: translateX(0);
      }
}

@keyframes slideout {
    
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(900px);
    }
}

// @keyframes slideleftright {
//     100% { left: 0; }
// }
// @keyframes slide {
//     100% { left: 0; }
// }