$transition_period: 300;
$transition_period_ms: $transition_period + ms;

:export
{
    transition_period: $transition_period;
}

.battleships-board-notification-super-container
{
    width: 100%;
    overflow: hidden;
    height: 12%;
    top: 44%;
    background-color: rgb(49, 49, 49);
    border-top: rgb(44, 44, 44) 8px solid;
    border-bottom: rgb(44, 44, 44) 8px solid;
    box-sizing: border-box;
    text-align: center;
    cursor: pointer;
    z-index: 999;
    position: absolute;
}

.battleships-board-notification-message
{
    z-index: 999;
    top: 47%;
    width: 100%;
    position: absolute;
    text-align: center;
    font-size: 2em;
    font-weight: bold;
    color: #fff;
    font-style: italic;
    transform: translateX(-900px);
}

.battleships-board-notification-message-animate
{
    animation: slideacross ($transition_period * 3) + ms forwards;
    animation-delay: $transition_period_ms;
    animation-timing-function: cubic-bezier(0.07, 0.93, 0.93, 0.07);
}

.battleships-board-notification-super-container-show
{
    animation: slidein-right $transition_period_ms ease forwards;
}

.battleships-board-notification-super-container-hide
{
    animation: slideout-left $transition_period_ms forwards;
    animation-delay: $transition_period_ms ease;
}

@keyframes slideacross
{
    0% {
        transform: translateX(-900px) 
    }
    100% {
        transform: translateX(900px);
    } 
}

@keyframes slidein-right {
    100% { 
        transform: translateX(0px);
    }
    0% {
        transform: translateX(900px);
        
    }
}
@keyframes slideout-left {
    0% { 
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-900px);
    }
}