@import '../../utils/variables';
@import '../../components/Popup/styles.scss';

.signin-form-show
{
    animation: fadeinform $transition_period_ms;
}

.signin-form-hide
{
    animation: fadeoutform $transition_period_ms;
}

.signin-popup-show
{
    @extend .popup-super-container;
    animation: fadeinpopup $transition_period_ms;
}

.blur-filter {
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
    filter: blur(2px);
}

.signin-popup-hide
{
    @extend .popup-super-container;
    animation: fadeoutpopup $transition_period_ms;
}

@keyframes fadeinpopup
{
    0% {
        background-color: rgba(0,0,0,0);
    }
    100% {
        background-color: rgba(0,0,0,0.5);
    }
}

@keyframes fadeoutpopup
{
    100% {
        background-color: rgba(0,0,0,0);
    }
    0% {
        background-color: rgba(0,0,0, 0.5);
    }
}

@keyframes fadeinform
{
    0% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    100% {
        opacity: 1;
        transform: scale(1,1);
    }
}

@keyframes fadeoutform
{
    100% {
        opacity: 0;
        transform: scale(0.8, 0.8);
    }
    0% {
        opacity: 1;
        transform: scale(1,1);
    }
}

#signin-join-form-title
{
    display:table;
    margin:0 auto;
    margin-top: 10px;
    border-bottom: 1px #999 solid;
    font-size: 25px;
}