.vertical_center
{
    margin: 0 auto;
}

.board
{
    margin: 0 auto;
    display:"inline-block";
}

.row
{
    margin: 0 auto;
}

.tile 
{
    margin: 0 auto;
}

#ConnectFour
{
    width: 100%;
}

#c4-new-game-form
{
    margin-top: 50px;
}

#c4-new-game-form-title
{
    display:table;
    margin:0 auto;
    margin-top: 10px;
}

#c4form
{
    background-color: white;
    padding: 10px;
    border-radius: 5px;
    text-align: left;
    max-width: 600px;
}