.vertical_center
{
    margin: 0 auto;
}

.board
{
    margin: 0 auto;
    display:"inline-block";
}

.row
{
    margin: 0 auto;
}

.tile 
{
    margin: 0 auto;
}

#ConnectFour
{
    width: 100%;
    max-width: 800px;
}

#c4form::before {
        content : "";
        position: absolute;
        left    : 0;
        bottom  : 0;
        height  : 1px;
        width   : 50%;  /* or 100px */
        border-bottom:1px solid magenta;
}