.button-promotion {
    position: relative;
    background-color: #b58863;
    border: none;
    padding: 20px;
    text-align: center;
    transition-duration: 0.4s;
    text-decoration: none;
    overflow: hidden;
    margin: 20px;
    margin-top: 20px;
    width:100%;
    height:80%;
    font-size: 8vh;
}

.button-promotion:hover{
   background:#f0d9b5;
   box-shadow:0px 2px 10px 5px #b58863;
   color:#000;
}