.form-region
{
    margin: 30px 0px;
}

.form-region-error
{
    margin:10px 0px;
    overflow: hidden;
}

.form-region-error input
{
    border-color:#f66;
    background-color: #fDD;
    transition: background-color 300ms linear;
}
.form-region-error h6
{
    font-size:16px !important;
}

.form-region-error div 
{
    border-color:#f66;
    background-color: #fDD;
    transition: background-color 300ms linear;
}

.form-region-no-error input
{
    border-color:#888;
    background-color: white;
    transition: background-color 300ms linear;
}

.form-region-no-error div
{
    border-color:#888;
    background-color: white;
    transition: background-color 300ms linear;
}

.form-region-error-message
{
    display: inline-flex;
    margin-top: 10px;
}

.form-region-title-container
{
    margin:0 auto;
    margin: 10px 0px;
}

.form-region-title
{
    color: #333;
    background-color: white;
}